body {
    background-color: #F6EEE1;
    background-image: url("bg.png");
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    margin-right: 150px;
    
}
h1
{
    margin-left: 200px;
}
h3
{
    margin-left: 200px;
}
.button1 {
    background-color: #4FA88B;
    border: none;
    border-radius: 20em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
.button2 {
    background-color: #FFBB69;
    border: none;
    border-radius: 20em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
.button3 {
    background-color:#BA6338;
    border: none;
    border-radius: 20em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
.button4 {
    background-color:  #74992e;;
    border: none;
    border-radius: 5em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
#container
{
    text-align: center;
}
#showpass
{
    position: relative;
    bottom: 30px;
}
.f-psw
{
    position: relative;
    left:70%;
}

.login-button
{
    position: absolute;
    left: 25%;
    bottom: 20%
}
.login-page{
    position: absolute;
    top: 30%;
    left: 60%;
}
.resetform{
    position: absolute;
    top: 30%;
    left: 30%
}
form .txtfield {
    position: relative;
    top: 0%;
    
    bottom: 50px;
    right: 60%;
    margin: 100px 30px;
}

.txtfield input{
    position: relative;
    width: 100%;

    padding: 0px 5px;
    height:  24px;
    font-size: 16px;
    background: none;
    border: none;
    border-bottom: 2px solid #787A80;
    outline: none;
    
}

.password
{
    position: relative;
    left: 40%;
    font-size: 11px;
}

.reginfo{
    position: relative;
    top: 10%;
    bottom: 10px;
    margin: 40px 10%;
    margin-right:  40px 0;
    font-size: 16px;

}
.reginfo input {
    position: relative;
    width: 100%;
    padding: 10px 5px;
    height:  4px;
    font-size: 16px;
    background: none;
    border: none;
    border-bottom: 2px solid #787A80;
    outline: none;
    text-align: center;
    
}
.resetform input {
    position: relative;
    width: 100%;
    
    background: none;
    border: none;
    border-bottom: 2px solid #787A80;
    outline: none;
    
    
}
iframe{
    position: absolute;
    object-fit: cover;
}
label{
    position:relative;
    font-size: 12px;
    padding: 10px;
    
}
.pass-button
{
    position: relative;
    left: 75%;
}
.sidenav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #04AA6D;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidenav a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidenav a.active {
    background-color: #f1f1f1;
    color: #04AA6D
  }
     
  .sidenav a:focus {
    background-color: #f1f1f1;
    color: #04AA6D
  }
  
  
  .sidenav a:hover {
    background-color: #f1f1f1;
    color: #04AA6D
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  #logo {
    margin-left: 200px;
    padding: 1px 16px;
  }
  
  @media screen and (max-width: 700px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidenav a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidenav a {
      text-align: center;
      float: none;
    }
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #kyc {
      
       
  }
#lead-cap{
    position: relative;
    left: 200px;
}
  #agent-button{
      position: absolute;
      left: 80%;
      top: 10%;
      margin-bottom: 10px;
  }
  #agentlogo
  {
      position: absolute;
      bottom: 1px;
  }
  

/*.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
/*  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
 
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
.wrapper{
    max-width: 800px;
    position: relative;
    margin: auto;
}
*/
.arrow
{
    position: absolute;
    top: 40%;
    font-size: 60px;
    font-weight: bold;
    color: #04AA6D;
    cursor: pointer;
    left: .5%;
    z-index: 1;
}
p{
    color: #787A80;
    font-size: 11px;
}
.video-container{
    position: relative;
    padding-top: 50px;
    top: 15%;
    left: 50%;
}
.arrow:nth-of-type(2){
    left: 98%;
    text-align: right;
}
section{
    position: relative;
    left: 80px;
    width: 98%;
    height: 360px;
    background:  #f1f1f1;
    display: flex;
    justify-content: left;
    overflow-x: auto;
}
section::-webkit-scrollbar{
    visibility: hidden;
}
.slide{
    min-width: 480px;
    height: 360px;
    position: relative;
    left: 0;
    padding-top: 60px;
    font-size: 100px;
    text-align: left;
    font-weight: bold;
    margin: 10px 20px;
    color: white;
    background: transparent;
    transition: 0.5s
}

.nav {
    background-color: #fff;
    overflow: hidden;
    width: 111%;
    
}
.nav__link ul
{
    text-align: right;
    
}

.nav__link {
   float: right;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 50px;

  font-size: 17px;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 5px solid #04AA6D;
}
.nav__link:active {
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 5px solid #04AA6D;
    color: #04AA6D;
}
.nav__link:after {
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 5px solid #04AA6D;
    color: #04AA6D;
}
.nav__link:focus {
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 5px solid #04AA6D;
    color: #04AA6D;
}
.support-page{

    display: inline;
    top: 40%;
    
}
.newclient .button1 {
    width: 100%;
    margin-left: 100px;
    font-size: 24px;
    
    padding: 22px 32px;

}
#profile-container{
    margin-left: 75%
}
#new-c{
    margin-left: 300px;
    
    top: 40%;
    padding-top: 120px;
    text-align: center;
    
}
#new-c, td,tr
{
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    left: 20%;
}
.img-busi{
    
   position:relative;
   left: 100px;
}
.img-munic{
    
    position:relative;
    left: 100px;
 }
.support-page{

    display: inline;
    top: 40%;
    
}
.support-page .button2{

    width: 70%;
    
    font-size: 24px;
    
    padding: 22px 32px;
}
#support-buttons{
    padding: 60px;
    position: relative;
    margin: 12%;
    text-align: center;

}

#clients {
    
    border-collapse: collapse;
    position: absolute;
    top: -5%;
    width: 50%;
    font-size: 10px;
    margin: 200px;
  }
  
  #clients td, #clients th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #clients tr:nth-child(even){background-color: #ffffff00;}
  
  #clients tr:hover {background-color: #ddd;}
  
  #clients th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 12px;
    background-color: transparent;
    color: #333;
  }
#com {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: 300px;
  }
  
  #com td, #com th {
    border: 1px solid #333;
    padding: 8px;
  }
  #com td{
      font-style: italic;
      font-size: 14px;
  }
  
  #com td:nth-child(2){background-color: #a8002a;}
  
  #com th {
      
    font-weight: bold;
    padding: 18px;
    text-align: center;
    font-size: 18px;
    background-color: #04aa6d00;
    color: #333;
  }
  #agent {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #agent td, #agent th {
    border: 1px solid #333;
    padding: 8px;
  }
  
  #agent tr:nth-child(even){background-color: #333333;}
  
  #agent th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 12px;
    background-color: #04aa6d00;
    color: #333;
  }
  #leads {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    margin-left: 200px;
  }
  
  #leads td, #clients th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #leads tr:nth-child(){background-color: #f2f2f200;}
  
  #leads tr:hover {background-color: #ddd;}
  
  #leads th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 12px;
    background-color: transparent;
    color: #333;
  }
#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}


a {
    color: #333;
}
